<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Guillem Cortes Ovide - Portfolio </title>
</head>
<body>
    <header>
        <img src="C:\Users\guillem.cortes\OneDrive - GfK\Documentos\my_website_portfolio_project\myportfolio\images\504930 linkedin.jpg" alt="Guillem Cortes Ovide Picture">
        <h1>Guillem Cortes Ovide</h1>
        <h3>Junior Backend Developer</h3>
    </header>
    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Python</li>
            <li>API</li>
            <li>Django</li>
            <li>Boostrap</li>
            <li>Flask</li>
            <li>SQLite</li>
        </ul>
    </section>
    <section id="projects">
        <h2>Projects</h2>

        <!-- Project 1 -->
        <article>
            <h3>Ticket Chat Bot</h3>
            <p>Description of the project. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="project1-demo.html">Demo</a>
            <a href="project1-repo.html">GitHub Repository</a>
        </article>

        <!-- Project 2 -->
        <article>
            <h3>CRUD API To Do Lists</h3>
            <p>Description of the project. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="project2-demo.html">Demo</a>
            <a href="project2-repo.html">GitHub Repository</a>
        </article>

        <!-- Add more projects as needed -->
    </section>
    <footer>
        <p>Contact: guillem16594@gmail.com</p>
        <!-- Add social media links or any other relevant information -->
    </footer>
</body>
</html>
